<!-- this template is for the "My Account" section -->

{% extends 'social_media/base.html' %}


{% block title %}KittenStagram | My Account{% endblock %}



{% block content %}
<section>
    <h1>This MIGHT be used to change themes etc - may be deleted</h1>
    <h4>Things to include:</h4>
    <ul>
        <li>profile image</li>
        <li>theme preference</li>
        <li>bio</li>
        <li>top 3 (ish) posts or most recent</li>
        <li></li>
        <li></li>
    </ul>
</section>
{% endblock %}
