

<!-- modal for new post pop-up -->

<div id="newPostModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <!-- modal header -->
            <div class="modal-header">
                <h5 class="modal-title" id="newPostModalLabel">Post a new photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        <!-- modal body -->
            <div class="modal-body">
                <div id="selectAndPreview" class="img-thumbnail">
                    <img id="cloud" src="../static/social_media/img/cloud_upload_icon.png" alt="cloud icon" />
                    <form enctype="multipart/form-data" action="add_photo" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="user" id="user" value="{{ request.session.sessionUserID }}" />

                        <label id="getPhotoButton" class="btn btn-info d-block" for="photo">Browse Photos</label>
                        <input id="photo" class="d-none" type="file" name="photo" />
                        <input id="hiddenSubmit" class="d-none" type="submit" />
                    </form>
                </div>

                <div id="newPostForm">
                    <form action="" method="POST">
                        <div class="form-group">
                            <textarea id="caption-text" class="form-control" placeholder="add a caption..."></textarea>
                        </div>
                        <!-- does form close need to move to footer? -->
                    </form>
                </div>
            </div>

        <!-- modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Replace this with Submit button</button>
            </div>
        <!-- end of modal content -->
        </div>
    </div>
</div>
