

<!-- modal for view post or image -->

<div id="viewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <!-- modal header -->
            <div class="modal-header">
                <div class="media">
                    <img id="profilePic" class="mr-3" src="../static/social_media/img/frame1.png" alt="" />
                    <div class="media-body">
                        <h6 class="mt-0">{{ this_post.user.username }} - {{ this_post.created_at|date:"g:i A - j M y" }}</h6>
                        {{ this_post.caption }}
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        <!-- modal body -->
            <div class="modal-body">
                <!-- this row makes it so the modal shifts for larger screens - do not remove -->
                <div class="row mr-lg-0 ">
                <!-- main image -->
                    <div class="col-lg-7">
                        <div id="photoWrapper" class="img-thumbnail">
                            <img id="viewImage" class="img-thumbnail {{ this_post.photo.orientation }}" style="border:none;" src="../media/{{ this_post.photo.photo }}" />
                        </div>
                    </div>
                    <div class="col-lg-5 m-3 m-lg-0">
                        <div class="row" style="position:absolute; width:100%;height:85%; overflow:auto;">
                        <!-- existing comments div -->
                            <div id="commentsWrapper" style="position:absolute; width:100%;height:85%; overflow:auto;">
                                {% if comments %}
                                    {% for comment in comments %}
                                        <div class="media mb-3 pb-2 border-bottom border-light">
                                            <img class="mr-3" src="../static/social_media/img/frame1.png" alt="" width="50" />
                                            <div class="media-body">
                                                <h6>{{ comment.user.username }} at {{ comment.created_at|date:"g:i A - j M y" }}</h6>
                                                <p class="mb-0">{{ comment.comment }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div> <!-- close commentsWrapper -->
                        </div>

                        <div class="row" style="height:100% ;margin-top:90%;">
                            <!-- comment form section -->
                            <div id="formWrapper">
                            <!-- <div id="formWrapper" style="width:100%;margin-top:85%;"> -->
                                <div class="media pt-3 border-top">
                                    <img class="mr-3" src="../static/social_media/img/frame1.png" alt="{{ request.session.sessionUserID }}" width="50" />

                                    <div class="media-body">
                                        <form action="new_comment" method="POST">
                                            {% csrf_token %}
                                            <input id="user" type="hidden" name="user" value="{{ request.session.sessionUserID }}" />
                                            <input id="post" type="hidden" name="post" value="{{ this_post.id }}" />
                                            <div class="row">
                                                <div class="form-group col-10">
                                                    <input id="comment" class="form-control" type="text" name="comment" placeholder="add comment..." />
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-success" type="submit">add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <!-- close comment form section -->
                        </div>


                    </div> <!-- close col -->
                </div>

            </div> <!-- end modal body -->
        </div> <!-- end modal content -->
    </div>
</div> <!-- close modal -->


<!-- hidden link / called on modal-close via jQuery / routes to view_post GET view and removes launch session data -->
<a id="clearLaunch" class="d-none" href="{% url 'social_media:view_post' %}"></a>
