<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="description" content="">
        <title>PIC Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Pacifico|Satisfy" rel="stylesheet">
        {% load staticfiles %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'social_media/css/style.css' %}">
    </head>
    <body>
        <div class="container">

            {% include "./nav_bar.html" %}

            <!-- <img id="frame" src="../static/social_media/img/frame1.png" alt="cat_frame"> -->
            <section style="padding-top:200px;">
                <!-- <div class="well" style="height:300px;"> -->
                    {% if users %}
                        {% for user in users %}
                            <p>{{ user.username }}</p>
                        {% endfor %}
                    {% endif %}

                <!-- </div> -->
            </section>
        </div>
    </body>
</html>
