
<!-- <img style="float:left; width:150px;" src="../static/social_media/img/icon.png"> -->
<header class="page-header fixed-top">

    <h1>KittenStagram</h1>


    <nav id="myNav" class="navbar navbar-expand-lg navbar-light">
    <!-- brand icon - routes to dashboard on-click -->
        <a class="navbar-brand" href="{%url 'social_media:index' %}">
            <img id="myIcon" alt="Brand" src="../static/social_media/img/icon.png" />
            <!-- <img id="myIcon" alt="Brand" src="../static/social_media/img/icon.png" width="65" /> -->
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- all nav bits incuded in collapse -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ nav_dashboard }}"><a class="nav-link" href="{%url 'social_media:index' %}">Dashboard</a></li>
                    <li class="nav-item {{ nav_myAlbum }}"><a class="nav-link" href="{%url 'social_media:myAlbum' %}">My Album</a></li>
                    <li class="nav-item {{ nav_account }}"><a class="nav-link" href="{% url 'social_media:poop' %}">My Account</a></li>
                    <li class="nav-item {{ nav_photo }}"><a class="nav-link" href="{% url 'social_media:add_photo' %}">New Post</a></li>
                    <!-- <li class="{{ nav_photo }}"><a class="nav-link" href="{% url 'social_media:add_photo' %}"><i class="glyphicon glyphicon-plus"></i> New Post</a></li> -->

            <!-- about dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">about this site</a>
                            <a class="dropdown-item" href="#">about the developer</a>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="nav-link disabled"><strong>Hi, {{ request.session.sessionUserName }}!</strong></a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'login_reg:logout' %}"><i>Logout</i></a>
                    </li>
                </ul>

            </div> <!-- close navbar-collapse -->
        </div> <!-- close container-fluid -->
</header> <!-- close fixed header -->
