<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KittenStagram</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Pacifico|Satisfy" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% load staticfiles %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <script type="text/javascript" src="{% static 'social_media/js/masonry.js' %}"></script>
        <script type="text/javascript" src="{% static 'social_media/js/imagesloaded.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'social_media/css/style.css' %}">

        <script>
            $(document).ready(function() {
                // $('#filename').change(function() {
                //     console.log($('#filename').val());
                // });



            });
        </script>
    </head>
    <body>
        <div class="container">

            {% include "./nav_bar.html" %}

            <!-- <img id="frame" src="../static/social_media/img/frame1.png" alt="cat_frame"> -->
            <div>
                {% if messages %}
                    <div class="alert alert-danger">
                        {% for alert in messages %}
                            <p {% if messages.tags %} class="messages.tags" {% endif %}>{{ alert }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <section style="padding-top:200px;">
                <div class="well">
                    <h1>Post a photo</h1>

                    <form class="form-horizontal" enctype = "multipart/form-data" action="add_photo" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="user" id="user" value="{{ request.session.sessionUserID }}" />
                        <div class="form-group">
                            <label class="control-label col-md-2" for="photo">Select File</label>
                            <div class="col-md-4">
                                <input class="form-control" type="file" name="photo" id="photo" />
                            </div>
                        </div>

                        <div class="form-group">
                            <input id="test" class="btn btn-primary" type="button" value="Test" />
                        </div>
                        <div class="form-group">
                            <input id="submit" class="btn btn-primary" type="submit" value="Post" />
                        </div>

                    </form>

                    {% if photos %}
                        {% for photo in photos %}
                            <p>{{ photo.id }} | {{ photo.user.id }} | {{ photo.photo }} | {{ photo.created_at }}</p>
                        {% endfor %}
                    {% endif %}

                </div>

            </section>
        </div>
    </body>
</html>
