.container {
    margin: auto;
}

    article {
        margin-top: 15px;
    }
        h3 {
            border-bottom: 1px solid #cccccc;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
        label.control-label {
            font-size: 1.15em;
            padding-right: 0px;
        }
        .btn-primary {
            float: right;
        }


        /* font-family: 'Pacifico', cursive;
        font-family: 'Satisfy', cursive;
        font-family: 'Leckerli One', cursive; */
